.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.dialogsItems {
  padding: 20px;
}

.dialog {
  padding: 10px;
}

.dialog a {
  color: black;
  text-decoration: none;
}

.active {
  color: gold;
}

.messages {
  padding: 20px;
  color: white;
}
